{% load static %}
<div class="fundo-ortofoto__camada{% if not entrando %} fundo-ortofoto__camada--visivel{% endif %}"
     data-ortofoto="{{ ortofoto_fundo|default:'' }}">
  {% if ortofoto_fundo %}
  <div class="fundo-ortofoto__deriva">
    {# <img>, e não background-image: só o elemento que mostra a imagem sabe dizer que decodificou. #}
    <img class="fundo-ortofoto__imagem" alt="" aria-hidden="true"
         src="{% static "img/ortofotos_fundo/"|add:ortofoto_fundo|add:".png" %}" />
  </div>
  {% endif %}
</div>
